<footer class="site-footer">
    <div id="contato" class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-12 col-lg-9 ">
                    <div class="foot-contact">
                        <h2>Contato</h2>

                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>{{ Servico!= null? Servico.telefone1 : ''}}</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span class="textfooter">{{ Servico!= null? Servico.email : ''}}</span>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>{{ Servico!= null? Servico.endereco : ''}}</span>
                            </li>
                        </ul>
                        <!-- <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p> -->
                        <ul class="d-flex flex-wrap align-items-center">
                            <li>
                                <a href="{{Servico!= null? Servico.twitter : ''}}" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ Servico!= null? Servico.facebook : ''}}" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/adoradoresporexcelenciaoficial/?hl=pt-br" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- .foot-contact -->

                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
            <div class="row col-md-12" style="padding: 10px;  align-items: flex-end; margin: 0 auto">      
                
                <div class="col-4">
                    <div class="foot-about" style="text-align: center;">
                        <h2>
                            <a class="foot-logo"  >
                                <img class="imgFooter" src="../../assets/img/logoapexwhite.png" alt="">
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="col-4">
                    <div class="foot-about" style="text-align: center;">
                        <h2>
                            <a class="foot-logo"  >
                                <img class="imgFooter" src="../../assets/img/umadecal.png" alt="">
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="col-4">
                    <div class="foot-about" style="text-align: center;">
                        <h2>
                            <a class="foot-logo">
                                <img class="imgFooter" src="../../assets/img/bleia.png" alt="">
                            </a>
                        </h2>
                    </div>                
            </div>
        </div>         
        </div>
        <!-- .container -->
    </div>
    <!-- .footer-widgets -->

    <div class="footer-bar">
        <div class="container">
            <div class="row">
                    <div class="col-12">
                            <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div><!-- .col-12 -->
                <div class="col-12">
                    <p class="m-0">
                                                                        
                        <i class="fa fa-user-o" aria-hidden="true"></i> -
                        <a href="https://www.linkedin.com/in/jonathas-fiscina-a54b0ab0/" target="_blank">Fiscina</a>                        
                    </p>
                </div>
                <!-- .col-12 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .footer-bar -->
</footer>
<!-- .site-footer -->