<div class="home-page-icon-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box ">
                    <figure class="d-flex justify-content-center">
                        <img src="../../assets/img//hands-gray.png" alt="">
                        <img src="../../assets/img//hands-white.png" alt="">
                    </figure>

                    <header class="entry-header">
                        <h3 class="entry-title">Faça parte</h3>
                    </header>

                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam.
                            </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <figure class="d-flex justify-content-center">
                        <img src="../../assets/img//donation-gray.png" alt="">
                        <img src="../../assets/img//donation-white.png" alt="">
                    </figure>

                    <header class="entry-header">
                        <h3 class="entry-title">Convide alguém</h3>
                    </header>

                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam.
                            </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <figure class="d-flex justify-content-center">
                        <img src="../../assets/img//dove.png" alt="">
                        <img src="../../assets/img//dove.png" alt="">
                    </figure>

                    <header class="entry-header">
                        <h3 class="entry-title">Leve o evangelho</h3>
                    </header>

                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam.
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .home-page-icon-boxes -->