<header class="site-header">
  <div class="top-header-bar">
      <div class="container">
          <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
              <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                  <div class="header-bar-email">
                      Email: <a>{{Servico != null? Servico.email : ""}}</a>
                  </div><!-- .header-bar-email -->

                  <div class="header-bar-text">
                      <p>Telefone: <span>{{Servico != null?  Servico.telefone1 : ""}} {{Servico != null?  Servico.telefone2 : ""}}</span></p>
                  </div><!-- .header-bar-text -->
              </div><!-- .col -->

              <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                  <div class="donate-btn">
                      <a href="#contato">Entre em contato</a>
                  </div><!-- .donate-btn -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .top-header-bar -->

  <div class="nav-bar">
      <div class="container">
          <div class="row">
              <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                  <div class="site-branding d-flex align-items-center" style="padding: 0px;">
                     <a [routerLink]="['/']" class="d-block" rel="home"><img style="width: 40vh;" class="d-block" src="{{Cabecalho != null?  Cabecalho.logo64 : ''}}" alt="logo"></a>
                  </div><!-- .site-branding -->

                  <nav class="site-navigation d-flex justify-content-end align-items-center">
                      <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                          <li class="current-menu-item"><a href="#principal" onclick="acionaMenu()" class="navegacao">Principal</a></li>
                          <li><a href="#sobrenos" onclick="acionaMenu()" class="navegacao">Sobre nós</a></li>
                          <li><a href="#eventos" onclick="acionaMenu()" class="navegacao">Eventos</a></li>
                          <!-- <li><a href="#galeria">Galeria</a></li> -->
                          <li><a href="#projetos" onclick="acionaMenu()" class="navegacao">Projetos</a></li>
                          <li><a href="#contato" onclick="acionaMenu()" class="navegacao">Contato</a></li>
                          <!-- <li><a [routerLink]="['/noticias']" onclick="acionaMenu()" class="navegacao">Notícias</a></li>-->
                          <li><a [routerLink]="['/galeria']" onclick="acionaMenu()" class="navegacao">Galeria</a></li> 
                      </ul>
                  </nav><!-- .site-navigation -->

                  <div class="hamburger-menu d-lg-none" onclick="acionaMenu()">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                  </div><!-- .hamburger-menu -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .nav-bar -->
</header><!-- .site-header -->