<div class="our-causes">
    <div class="container">
        <div class="row">
            <div class="coL-12">
                <div class="section-heading">
                    <h2 class="entry-title">Nossos Projetos</h2>
                </div>
                <!-- .section-heading -->
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-12" id="porcentagem">
                <swiper [config]="config">
                    <div class="cause-wrap" *ngFor="let projeto of Projetos">
                        <figure class="m-0">
                            <img src="{{projeto.foto64}}" alt="">
                            <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                <a href="#" class="btn gradient-bg mr-2">Ver detalhes</a>
                            </div>
                        </figure>

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0">
                                    <a href="#">{{projeto.titulo}}</a>
                                </h3>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-content">
                                <p class="m-0">{{projeto.descricao}}</p>
                            </div>
                            <!-- .entry-content -->
                            <div class="fund-raised w-100">
                                <mat-progress-bar [value]='projeto.porcentagem'></mat-progress-bar>
                                <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                    <!-- .fund-raised-total -->
                                    <div class="fund-raised-goal mt-4">
                                        Dias para o {{projeto.titulo}}: {{projeto.tempoRestante}}
                                    </div>
                                    <!-- .fund-raised-goal -->
                                </div>
                                <!-- .fund-raised-details -->
                            </div>
                            <!-- .fund-raised -->
                        </div>
                        <!-- .cause-content-wrap -->
                    </div>
                </swiper>
                <!-- .swiper-container -->
            </div>
            <!-- .col -->
        </div>

        <!-- .row -->
    </div>
    <!-- .container -->
</div>

<!-- .our-causes -->