<div id="principal" class="swiper-container hero-slider">
    <swiper [config]="config" >

        <div class="hero-content-wrap" *ngIf="Cabecalho != null && Cabecalho.fotoslider164 != null  && Cabecalho.fotoslider164 != ''">
            <img src="{{Cabecalho.fotoslider164}}" alt="">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1 style="font-size: 70px !important;">{{Cabecalho.tituloslider1}}</h1>
                                <h4>{{Cabecalho.subtituloslider1}}</h4>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-content-wrap" *ngIf="Cabecalho != null && Cabecalho.fotoslider264 != null  && Cabecalho.fotoslider264 != ''">
            <img src="{{Cabecalho.fotoslider264}}" alt="">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1 style="font-size: 70px !important;">{{Cabecalho.tituloslider2}}</h1>
                                <h4>{{Cabecalho.subtituloslider2}}</h4>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="hero-content-wrap" *ngIf="Cabecalho != null && Cabecalho.fotoslider364 != null  && Cabecalho.fotoslider364 != ''">
            <img src="{{Cabecalho.fotoslider364}}" alt="">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1 style="font-size: 70px !important;">{{Cabecalho.tituloslider3}}</h1>
                                <h4>{{Cabecalho.subtituloslider3}}</h4>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </swiper>
    <!-- <div class="swiper-pagination"></div> -->
</div>
<!-- .hero-slider -->