<div id="sobrenos" class="home-page-welcome">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="welcome-content">
                    <header class="entry-header">
                        <h2 class="entry-title">{{Sobre != null?  Sobre.titulo: ""}}</h2>
                    </header>
                    <!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>{{Sobre != null? Sobre.texto: ""}}</p>
                    </div>
                    <!-- .entry-content -->

                    <div class="entry-footer mt-5">
                        <a href="https://www.facebook.com/adoradoresporexcelencia2016/" target="_blank" class="btn gradient-bg mr-2">Saiba mais</a>
                    </div>
                    <!-- .entry-footer -->
                </div>
                <!-- .welcome-content -->
            </div>
            <!-- .col -->

            <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                <img src="{{ Sobre != null? Sobre.foto64 : ''}}" alt="welcome">
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .home-page-icon-boxes -->