<div id="sobrenos" class="home-page-welcome">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="welcome-content">
                    <header class="entry-header">
                        <h2 class="entry-title">Bem vindo a APEX</h2>
                    </header>
                    <!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis
                            aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu libero
                            consequat tempus. Quisque molestie convallis tempus. Ut semper purus metus, a euismod sapien
                            sodales ac. Duis viverra eleifend fermentum.</p>
                    </div>
                    <!-- .entry-content -->

                    <div class="entry-footer mt-5">
                        <a href="#" class="btn gradient-bg mr-2">Saiba mais</a>
                    </div>
                    <!-- .entry-footer -->
                </div>
                <!-- .welcome-content -->
            </div>
            <!-- .col -->

            <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                <img src="../../assets/img//welcome.jpg" alt="welcome">
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .home-page-icon-boxes -->