<div id="eventos" class="home-page-events">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-6">
              <div class="upcoming-events">
                  <div class="section-heading">
                      <h2 class="entry-title">Eventos futuros</h2>
                  </div><!-- .section-heading -->

                  <div class="event-wrap d-flex flex-wrap justify-content-between">
                      <figure class="m-0">
                          <img src="../../assets/img/evangelismo.jpg" alt="">
                      </figure>

                      <div class="event-content-wrap">
                          <header class="entry-header d-flex flex-wrap align-items-center">
                              <h3 class="entry-title w-100 m-0"><a href="#">Fundraiser for Kids</a></h3>

                              <div class="posted-date">
                                  <a href="#">Aug 25, 2018 </a>
                              </div><!-- .posted-date -->

                              <div class="cats-links">
                                  <a href="#">Ball Room New York</a>
                              </div><!-- .cats-links -->
                          </header><!-- .entry-header -->

                          <div class="entry-content">
                              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                          </div><!-- .entry-content -->

                          <div class="entry-footer">
                            <a href="#">Saiba mais</a>
                        </div><!-- .entry-footer -->
                      </div><!-- .event-content-wrap -->
                  </div><!-- .event-wrap -->

                  <div class="event-wrap d-flex flex-wrap justify-content-between">
                      <figure class="m-0">
                          <img src="../../assets/img/esfirra.jpg" alt="">
                      </figure>

                      <div class="event-content-wrap">
                          <header class="entry-header d-flex flex-wrap align-items-center">
                              <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>

                              <div class="posted-date">
                                  <a href="#">Aug 25, 2018 </a>
                              </div><!-- .posted-date -->

                              <div class="cats-links">
                                  <a href="#">Ball Room New York</a>
                              </div><!-- .cats-links -->
                          </header><!-- .entry-header -->

                          <div class="entry-content">
                              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                          </div><!-- .entry-content -->

                          <div class="entry-footer">
                              <a href="#">Saiba mais</a>
                          </div><!-- .entry-footer -->
                      </div><!-- .event-content-wrap -->
                  </div><!-- .event-wrap -->

                  <div class="event-wrap d-flex flex-wrap justify-content-between">
                      <figure class="m-0">
                          <img src="../../assets/img/festivalsorvete.jpg" alt="">
                      </figure>

                      <div class="event-content-wrap">
                          <header class="entry-header d-flex flex-wrap align-items-center">
                              <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>

                              <div class="posted-date">
                                  <a href="#">Aug 25, 2018 </a>
                              </div><!-- .posted-date -->

                              <div class="cats-links">
                                  <a href="#">Ball Room New York</a>
                              </div><!-- .cats-links -->
                          </header><!-- .entry-header -->

                          <div class="entry-content">
                              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                          </div><!-- .entry-content -->

                          <div class="entry-footer">
                            <a href="#">Saiba mais</a>
                        </div><!-- .entry-footer -->
                      </div><!-- .event-content-wrap -->
                  </div><!-- .event-wrap -->
              </div><!-- .upcoming-events -->
          </div><!-- .col -->

          <div class="col-12 col-lg-6">
              <div class="featured-cause">
                  <div class="section-heading">
                      <h2 class="entry-title">Próximo evento</h2>
                  </div><!-- .section-heading -->

                  <div class="cause-wrap d-flex flex-wrap justify-content-between">
                      <figure class="m-0">
                          <img src="../../assets/img/festanacao.jpg" alt="">
                      </figure>

                      <div class="cause-content-wrap">
                          <header class="entry-header d-flex flex-wrap align-items-center">
                              <h3 class="entry-title w-100 m-0"><a href="#">Festa das nações</a></h3>

                              <div class="posted-date">
                                  <a href="#">Aug 25, 2018 </a>
                              </div><!-- .posted-date -->

                              <div class="cats-links">
                                  <a href="#">Ball Room New York</a>
                              </div><!-- .cats-links -->
                          </header><!-- .entry-header -->

                          <div class="entry-content">
                              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur.</p>
                          </div><!-- .entry-content -->

                          <div class="entry-footer mt-5">
                              <a href="#" class="btn gradient-bg mr-2">Saiba como participar</a>
                          </div><!-- .entry-footer -->
                      </div><!-- .cause-content-wrap -->

                      <!-- <div class="fund-raised w-100">
                          <div class="featured-fund-raised-bar barfiller">
                              <div class="tipWrap">
                                  <span class="tip"></span>
                              </div>

                              <span class="fill" data-percentage="83"></span>
                          </div>

                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                              <div class="fund-raised-total mt-4">
                                  Raised: $56 880
                              </div>

                              <div class="fund-raised-goal mt-4">
                                  Goal: $70 000
                              </div>
                          </div>
                      </div> -->
                  </div><!-- .cause-wrap -->
              </div><!-- .featured-cause -->
          </div><!-- .col -->
      </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .home-page-events -->