<div id="eventos" class="home-page-events">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-6">
              <div class="upcoming-events">
                  <div class="section-heading">
                      <h2 class="entry-title">Eventos futuros</h2>
                  </div>
                  <div class="event-wrap d-flex flex-wrap justify-content-between" *ngFor="let evento of Eventos" >
                      <figure class="m-0">
                          <img src="{{evento.foto64}}" alt="">
                      </figure>
                      <div class="event-content-wrap">
                          <header class="entry-header d-flex flex-wrap align-items-center">
                              <h3 class="entry-title w-100 m-0"><a>{{evento.titulo}}</a></h3>
                              <div class="posted-date">
                                <a>{{evento.data_hora | date:'dd/MM/yyyy'}} - {{evento.hora}}</a>
                            </div>
                            <div class="cats-links">
                                <a>{{evento.endereco}}</a>
                            </div>
                          </header>
                          <div class="entry-content">
                              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="m-0">{{evento.descricao}}</p>
                          </div>
                          <div class="entry-footer" *ngIf="evento.url">
                              <a href="{{evento.url}}" target="_blank">Saiba mais</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="featured-cause">
                  <div class="section-heading">
                      <h2 class="entry-title">Próximo evento</h2>
                  </div>
                  <div class="cause-wrap d-flex flex-wrap justify-content-between" *ngIf="EventoAtual != null">
                      <figure class="m-0">
                          <img src="{{EventoAtual.foto64}}" alt="">
                      </figure>
                      <div class="cause-content-wrap" style="width: 100%;">
                          <header class="entry-header d-flex flex-wrap align-items-center">
                              <h3 class="entry-title w-100 m-0"><a>{{EventoAtual.titulo}}</a></h3>
                              <div class="posted-date">
                                  <a>{{EventoAtual.data_hora | date:'dd/MM/yyyy'}} - {{EventoAtual.hora}}</a>
                              </div>
                              <div class="cats-links">
                                  <a>{{EventoAtual.endereco}}</a>
                              </div>
                          </header>
                          <div class="entry-content">
                              <p>{{EventoAtual.descricao}}</p>
                          </div>
                          <div class="entry-footer mt-5" *ngIf="EventoAtual.url">
                              <a href="{{EventoAtual.url}}" target="_blank" class="btn gradient-bg mr-2">Saiba como participar</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>