.image-cropper {
    width: 30vh;
    height: 30vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}